<footer>
    <div class="footerComponent">
        <div class="footerSection1">
            <p>О ПРОЕКТЕ</p>
        </div>
        <div class="footerSection2">
            <p><b>Контакты</b></p>
            <p><a href="tel:+79999999999" class="text">+7 999 999 99 99</a></p>
            <p><a href="https://www.discord.com" class="text">Дискорд</a></p>
            <p><a href="https://www.telegram.com" class="text">Телеграм</a></p>
            <p><a href="https://www.discord.com" class="text">Почта</a></p>
        </div>

        <div class="footerSection2">
            <p><b>Правовая информация</b></p>
            <p>Политика конфиденциальности</p>
            <p>Условия пользования сайтом</p>
        </div>
        <div class="year">
            <p>@2024</p>
        </div>

    </div>
</footer>
