.footerComponent{
  display: flex;
  flex-direction: row;
  height: auto;
  background: linear-gradient(89.41deg, #D9D9D9 -5.97%, #F9B236 -5.96%, #B16653 48.87%, #782A69 95.24%),
  linear-gradient(90deg, #FFFFFF 0%, rgba(190, 187, 192, 0.14) 50%, rgba(153, 143, 157, 0.29) 100%);
  background-blend-mode: darken;
  box-shadow: 0px 17px 46.2px 0px #3C3C3C40;
  font-size: 1.2rem;
  justify-content: space-between;
  padding: 1% 10% 1% 10%;
  color: white;

}

.footerSection2{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.year{
  display: flex;
  flex-direction: column-reverse;
}
a.text:active, /* активная/посещенная ссылка */
a.text:hover{
  opacity: 1;
}  /* при наведении */
a.text {
  opacity: 0.8;
  text-decoration: none;
  color: white;

}