<footer>
    <div class="footerComponent">
        <div class="block1">
            <div class="footerSection1">
            <h1 class="moscow">О ПРОЕКТЕ</h1>
        </div>
        <div class="footerSection2">
            <p class="montBold">Контакты</p>
            <p class="montserrat"><a href="tel:+79999999999" class="text">+7 999 999 99 99</a></p>
            <p class="montserrat"><a href="https://www.discord.com" class="text">Дискорд</a></p>
            <p class="montserrat"><a href="https://www.telegram.com" class="text">Телеграм</a></p>
            <p class="montserrat"><a href="https://www.discord.com" class="text">Почта</a></p>
        </div>

        <div class="footerSection2">
            <p class="montBold">Правовая информация</p>
            <a href="" class="text"><p class="montserrat">Политика конфиденциальности</p></a>
            <a href="" class="text"><p class="montserrat">Условия пользования сайтом</p></a>
        </div>
        </div>
        <div class="year">
            <p>@2024</p>
        </div>

    </div>
</footer>
