.headerComponent{
  padding: 0 10% 0 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 12vh;
  font-size: 1.4rem;
  background: linear-gradient(88.94deg, #D9D9D9 -2.6%, #BF5D4B -2.59%, #3D098B 94.84%);
  box-shadow: 0px 17px 46.2px 0px #3C3C3C40;
  :hover {
    //background: linear-gradient(90deg, #FFFFFF 0%, rgba(190, 187, 192, 0.14) 50%, rgba(153, 143, 157, 0.29) 100%);
  }
  color:white;
}
.headerSection1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 55%;
  }
.headerSection2{


}

.rectangle{
  display: flex;
  justify-content: center;
  border: 3px solid #FFFFFF;
  border-radius: 30% 30% 30% 30%;
  width: 25%;



}