<header class="headerComponent">

        <div class="headerSection1">
            <a href=""><h1 class="moscow">О ПРОЕКТЕ</h1></a>
            <a href=""><p class="montserrat same">Поиск навыков</p></a>
            <div class="rectangle">
                <a href=""><p class="semiBold">Результат</p></a>
            </div>
        </div>
        <ng-template [ngIf]="nonAuthorized" [ngIfElse]="authBlock">
            <div class="headerSection2">
                <a routerLink="/registration"><p class="render2Sec montserrat same">Войти | Регистрация</p></a>
            </div>
                </ng-template>

            <ng-template #authBlock>
                <div class="headerSection2">
                    <a href="">
                <img class="userPic render2Sec" src="assets/img.png" alt="">
                    </a>
                    </div>
                </ng-template>

    </header>
