<header class="headerComponent">

        <div class="headerSection1">
            <p>О ПРОЕКТЕ</p>
            <p>Поиск навыков</p>
            <div class="rectangle">
                <p>Результат</p>
            </div>
        </div>
        <ng-template [ngIf]="nonAuthorized" [ngIfElse]="authBlock"
                class="headerSection2">
                <p>Войти | Регистрация</p></ng-template>

            <ng-template class="headerSection2" #authBlock>
            <p>authorized</p>
            </ng-template>

    </header>
