<header class="headerComponent">

        <div class="headerSection1">
            <a href=""><h1 class="moscow">О ПРОЕКТЕ</h1></a>
            <a routerLink="/skills"><p class="montserrat same">Поиск навыков</p></a>
            <div class="rectangle">
                <a href=""><p class="semiBold">Результат</p></a>
            </div>
        </div>
        <ng-template [ngIf]="nonAuthorized" [ngIfElse]="authBlock">
            <div class="headerSection2">
                <a routerLink="/auth"><p class="montserrat same">Войти</p></a>
                <p class="montserrat same palka">|</p>
                <a routerLink="/registration"><p class="montserrat same">Регистрация</p></a>
            </div>
                </ng-template>

            <ng-template #authBlock>
                <div class="headerSection2">

                <img (click)="toggleModal()" class="userPic render2Sec" src="assets/img.png" alt="">

                    </div>
                </ng-template>

    <div class="modal" [ngClass]="{'show': showModal}">
        <div class="modal-content">
            <img class="modal-pic" src="assets/img.png" alt="">

            <p class="barFont montserratRegular">nickname</p>
            <p class="id montserratRegular marginBot">id:1213</p>

            <a class="barFont montserratRegular" (click)="goToProfile()">Профиль</a>
            <a class="barFont montserratRegular" (click)="goToSettings()">Настройки</a>
            <a class="barFont montserratRegular logoutButton" (click)="logout()">Выход</a>
            <a class="barFont montserratRegular" (click)="toggleModal()">Закрыть</a>
        </div>
    </div>
    </header>
