<app-header></app-header>
<div class="background">
    <div class="graphic">
        <div class="content">
        <h1 class="sellPhraseH1 bold">Очень глубокая продающая фраза
            <br>Чтоб прям со смыслом <br> и за душу</h1>
        <div class="aboutBlock1 widthBlock">
            <h2 class="titleBlock bold">О проекте</h2>
            <div class="aboutRectangle">
            <h3 class="textBlock medium">Ясность нашей позиции очевидна:
                современная методология разработки
                требует определения и уточнения приоретизации
                разума над эмоциями! Внезапно, тщательные
                исследования конкурентов преданы
                социально-демократической анафеме.
                С учётом сложившейся международной обстановки,
                базовый вектор развития способствует повышению
                качества новых предложений.
                Вот вам яркий пример современных
                тенденций — повышение уровня
                гражданского сознания создаёт
                предпосылки для модели развития.
            </h3>
        </div>
        </div>
        <div class="aboutBlock2 widthBlock">
            <h2 class="titleBlock bold">Какую проблему он поможет решить</h2>
            <div class="aboutRectangle">
            <h3 class="textBlock medium">Ясность нашей позиции очевидна:
                современная методология разработки
                требует определения и уточнения приоретизации
                разума над эмоциями! Внезапно, тщательные
                исследования конкурентов преданы
                социально-демократической анафеме.
                С учётом сложившейся международной обстановки,
                базовый вектор развития способствует повышению
                качества новых предложений.
                Вот вам яркий пример современных
                тенденций — повышение уровня
                гражданского сознания создаёт
                предпосылки для модели развития.
            </h3>
            </div>
        </div>
            <h2 class="howToText bold">Как использовать сервис</h2>

            <div class="aboutBlock3">
                <div class="step1 numPlusText">
                    <h1>1</h1>
                    <div class="shit">
                    <h2 class="titleBlock3 bold">
                        Регистрация
                    </h2>
                    <p class="textBlock3 medium">
                        Ясность нашей позиции очевидна
                    </p>
                    </div>
                </div>
                <div class="step2 numPlusText">
                    <h1>2</h1>
                    <div class="shit">
                    <h2 class="titleBlock3 bold">
                        Загрузка резюме
                    </h2>
                    <p class="textBlock3 medium">
                        Ясность нашей позиции очевидна
                    </p>
                    </div>

                </div>
                <div class="step3 numPlusText">
                    <h1>3</h1>
                    <div class="shit">
                    <h2 class="titleBlock3 bold">
                        Получение результат
                    </h2>
                    <p class="textBlock3 medium">
                        Ясность нашей позиции очевидна
                    </p>
                    </div>

                </div>

            </div>
            <h1 class="tryButton bold"><a href="">Попробовать</a></h1>
        </div>
    </div>
</div>
<app-footer></app-footer>