<app-header></app-header>
<div class="background">
    <div class="graphic">
        <div class="content">
            <div class="regBlock">
                <p class="regTitle">
                    Авторизация
                </p>
                <input placeholder="Введите логин" type="text" class="login sectionHeight" >
                <input placeholder="Введите пароль" type="password" class="password sectionHeight">
                <p class="regButton sectionHeight"><a routerLink="/auth">Войти</a></p>

            </div>
        </div>

    </div>
</div>
<app-footer></app-footer>