<app-header></app-header>
<div class="background">
    <div class="graphic">
        <div class="content">
                <div class="regBlock">
                <p class="regTitle">
                        Регистрация
                </p>



                <div class="ramka">
                    <input placeholder="Введите логин" type="text" class="login" >
                </div>
                 <div class="ramka">
                    <input placeholder="Введите пароль" type="password" class="password">
                 </div>
                <div class="ramka">
                    <input placeholder="Повторите пароль" type="password" class="retypePassword">
                </div>

                <div class="ramka">
                    <p class="regButton"><a routerLink="/registration">Войти</a></p>
                </div>

                </div>
        </div>

    </div>
</div>
<app-footer></app-footer>